.tagWrapper{
    display: flex;
    flex-wrap: wrap;
}
.tag{
    cursor: pointer;
    border-radius: 30px 30px 30px 30px;
    text-decoration: none;
    background-color: #818a91;
    color: #fff !important;
    font-size: 0.9rem;
    padding: 0.3rem 0.6rem;

    white-space: nowrap;
    margin-right: 4px;
    margin-bottom: 0.5rem;
    display: inline-block;
}
.tagsComponent{
    margin-top: 1.5rem;
}